.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(var(--back-color));
}

.content {
  display: flex;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /*for trailer "overflow"*/
  overflow-y: auto;
  width: 100%;
  height: 100vh; /*for vertical scrolling*/
}

.header {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
}

.light {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--back-color));
}

.light_trailer {
  position: relative;
  z-index: 2;
  width: 30%;
  height: 100%;
  object-fit: fill;
  margin-top: -2em;
  filter: blur(60px);
}

.preview {
  position: relative;
  z-index: 4;
}

.closeBtn {
  position: absolute;
  z-index: 3;
  width: 2em;
  height: 2em;
  margin-top: 3em;
  margin-left: 0.5em;
  border: none;
  background-position: center;
  background-size: 2em;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../../assets/icons/icon_close.png");
  cursor: pointer;
  transition: 0.2s;
}

.cluster {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 5em;
}
