.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: black;
}
.player {
  height: 100%;
  width: 100%;
  left: 0;
  display: grid;
  position: relative;
  z-index: 4;
  grid-template-rows: repeat(10, auto);
  grid-template-columns: repeat(10, auto);
}

.top {
  margin-top: 10px;
  grid-row: 1/2;
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(6, auto);
}
.title {
  grid-column: 2 / 8;
  font-size: 30px;
  justify-self: center;
}

.audioSelect {
  grid-column: 8 / 8;
  display: flex;
  flex-direction: column;
  height: 8em;
  width: 40px;
}

.dropContent {
  display: flex;
  position: relative;
  width: 7em;
  height: 3em;
  padding-top: 0.4em;
  background-color: rgba(black, 0.7);
  justify-content: space-around;
  border-radius: 5px;
  visibility: hidden;
}

.german,
.english {
  height: 3em;
  width: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.german {
  background-image: url("../../assets/icons/german.png");
}

.english {
  background-image: url("../../assets/icons/english.png");
}

.controls {
  margin-top: 0.5em;
  grid-column: 9 / 10;
  display: flex;
  justify-content: flex-end;
}
.volumeOver,
.volumeMute,
.volumeUnder,
.screenButton,
.closeButton,
.speechButton {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  transition: 0.2s;
  cursor: pointer;
  opacity: 0.4;
}

.speechButton {
  background-image: url("../../assets/icons/icon_speech.png");
}

.volumeOver:hover,
.volumeMute:hover,
.volumeUnder:hover,
.screenButton:hover,
.closeButton:hover {
  opacity: 1;
}

.volumeOver {
  background-image: url("../../assets/icons/icon_volume_100.png");
}

.volumeUnder {
  background-image: url("../../assets/icons/icon_volume_50.png");
}

.volumeMute {
  background-image: url("../../assets/icons/icon_volume_0.png");
}

.volumeOver,
.volumeMute,
.volumeUnder,
.screenButton {
  margin-right: 30px;
}

.closeButton {
  margin-left: 30px;
}

.controls input {
  width: 90px;
  height: 3px;
  margin-right: 50px;
  margin-top: 20px;
}

.volume {
  background-image: url("../../assets/icons/icon_volume_100.png");
}

.screenButton {
  background-image: url("../../assets/icons/icon_fullscreen.png");
  background-size: 30px;
}

.closeButton {
  background-image: url("../../assets/icons/icon_left.png");
}

.mid {
  grid-row: 3/8;
  grid-column: 3/9;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.rewind,
.pause,
.play,
.forward {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: 0.2s;
  cursor: pointer;
  margin: 25px;
  opacity: 0.3;
}

.rewind:hover,
.pause:hover,
.play:hover,
.forward:hover {
  opacity: 0.8;
}

.rewind {
  width: 15%;
  height: 90%;
  background-image: url("../../assets/icons/icon_rewind.png");
}

.pause {
  width: 20%;
  height: 90%;
  background-image: url("../../assets/icons/pause_button.png");
}

.play {
  width: 20%;
  height: 90%;
  background-image: url("../../assets/icons/play_button.png");
}

.forward {
  width: 15%;
  height: 90%;
  background-image: url("../../assets/icons/icon_forward.png");
}

.progress {
  padding: 0.3em;
  grid-row: 10/10;
  grid-column: 1/11;
  z-index: 3;
  opacity: 0.6;
  margin-bottom: 40px;
  width: 100%;
  justify-self: center;
}

.progress .seekRange {
  height: 3px;
  width: 100%;
  cursor: pointer;
}

.bottom {
  grid-row: 10/11;
  grid-column: 1/11;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  opacity: 0.3;
}
.time {
  margin-left: 20px;
  margin-top: 25px;
}

.nextButton {
  bottom: 6em;
  right: 15px;
  background: transparent;
  border: none;
  height: 20px;
  width: 110px;
  font-size: 17px;
  z-index: 4;
  position: absolute;
  cursor: pointer;
}

.nextButton:hover {
  opacity: 1;
}
