.container {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-top: 2em;
  padding-left: 3em;
  background-color: rgb(var(--menu-color));
}

.form {
  display: flex;
  overflow-x: hidden;
  padding-left: 0.5em;
}

.colText,
.colArea,
.colPoster,
.colFiles {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.2em;
  font-size: calc((var(--videoCard-width)) * 1 / 7);
}

.colText {
  width: 19em;
}

.colArea {
  display: flex;
  align-items: center;
  width: 17em;
}

.colPoster {
  width: calc(var(--videoCard-width) + 1em);
  align-items: center;
}

.colFiles {
  width: 20em;
  height: fit-content;
  padding-left: 1em;
}

.row {
  display: flex;
}

.inputText,
.inputNumber {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.9em;
}

.colText > .row > .inputText,
.colFiles > .row > .inputText {
  width: 13em;
}

.inputNumber {
  width: 5em;
  margin-left: 1em;
}

.inputText > label,
.inputNumber > label {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 1em;
  padding: 2px;
  color: rgb(var(--secondary-text));
  font-size: 0.8em;
}

.colArea > .inputText > label {
  left: 30px;
}

.inputText > label:after,
.inputNumber > label:after {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 13px;
  background-color: rgb(var(--menu-color));
  content: " ";
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.inputText > label > .tag,
.inputNumber > label > .tag {
  color: rgb(var(--secondary-text));
  font-size: 0.7em;
}

.inputField,
.fileInput {
  width: 100%;
  height: 2em;
  padding-left: 0.5em;
  box-shadow: none;
  border-style: none;
  border-radius: var(--videoCard-radius);
  border: 1px solid rgb(var(--secondary-text));
  background-color: rgb(var(--menu-color));
}

.fileInput {
  pointer-events: none;
}

.inputArea {
  overflow-y: scroll;
  width: 16em;
  height: 10.4em;
  resize: none;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  box-shadow: none;
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgb(var(--secondary-text));
  background-color: rgb(var(--menu-color));
}

.poster > img {
  width: calc(var(--videoCard-width) - 1em);
  aspect-ratio: 2/3;
  border-radius: var(--videoCard-radius);
  object-fit: fill;
}

.sourceBtn,
.undoneBtn,
.sourceDeleteBtn {
  width: 1em;
  height: 1em;
  border-style: none;
  margin-top: 1.1em;
  margin-left: 0.5em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sourceBtn {
  background-size: 1.2em;
  background-image: url("../../assets/icons/icon_open_folder.png");
}

.undoneBtn {
  margin-right: 0.5em;
  background-size: 1em;
  background-image: url("../../assets/icons/icon_undone.png");
}

.sourceDeleteBtn {
  max-height: 1.2em;
  background-size: 1em;
  background-image: url("../../assets/icons/icon_close.png");
}
