.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  height: calc((var(--videoCard-width)) * 13 / 6);
}

.overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  display: flex;
  width: 100%;
  height: fit-content;
}

.description {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.3em;
  margin-left: 3.5em;
}

.title {
  grid-row: 1;
  margin-top: 0.3em;
  font-size: calc((var(--videoCard-width)) * 2 / 9);
}

.numbers {
  grid-row: 2;
  display: flex;
  width: fit-content;
  height: fit-content;
  font-size: calc((var(--videoCard-width)) * 1 / 11);
}

.plot {
  grid-row: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.1em;
  width: calc((var(--videoCard-width)) * 7 / 2);
  height: calc(((var(--videoCard-width)) * 2 / 5) + 5px) ;
  font-size: calc((var(--videoCard-width)) * 1 / 10);
}

.row {
  grid-row: 4;
  display: flex;
  margin-top: 0.3em;
}

.col1 > p {
  color: rgb(var(--secondary-text));
}

.col1,
.col2 {
  display: grid;
  grid-template-rows: repeat(3, 1em);
  row-gap: 0.3em;
  font-size: calc((var(--videoCard-width)) * 1 / 9);
}
.col2 {
  margin-left: 1em;
}

.rating > p,
.runtime > p,
.year > p,
.awards > p {
  width: 4em;
  margin-top: 0.5em;
  color: rgb(var(--secondary-text));
}

.rating,
.runtime,
.year,
.awards {
  display: flex;
  margin-top: 0.5em;
}

.runtime,
.year,
.awards {
  margin-left: 1.5em;
}

.calendar,
.hourglass,
.rotten,
.tomatoes,
.oscar {
  width: calc((var(--videoCard-width)) * 1 / 4);
  aspect-ratio: 1/1;
  margin-right: 0.5em;
  background-size: calc((var(--videoCard-width)) * 1 / 4);
  background-repeat: no-repeat;
}

.calendar {
  background-image: url("../../assets/icons/calendar.png");
}

.hourglass {
  background-image: url("../../assets/icons/hourglass.png");
}

.rotten {
  background-image: url("../../assets/icons/rotten_tomatoes_59.png");
}
.tomatoes {
  background-image: url("../../assets/icons/rotten_tomatoes_60.png");
}

.oscar {
  background-image: url("../../assets/icons/oscar.png");
}

.oscarCounter {
  display: flex;
  align-items: center;
  color: rgb(var(--secondary-text));
  font-size: calc((var(--videoCard-width)) * 1 / 7);
}

.line {
  display: flex;
  height: fit-content;
}

.btns {
  grid-row: 5;
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}
.progressCol {
  display: flex;
  flex-direction: column;
  max-width: var(--videoCard-width);
  margin-left: 2em;
}

.progressOnBtn {
  width: 99.5%;
  height: 2px;
  border-style: none;
  color: rgb(var(--primary-text));
}
.minutesLeft {
  margin-top: 0.3em;
  font-size: calc((var(--videoCard-width)) * 1 / 12);
}

.play1Btn,
.play2Btn {
  width: var(--videoCard-width);
  height: calc((var(--videoCard-width)) * 2 / 7);
  border-style: none;
  border-radius: 2px;
  background-color: rgb(var(--menu-color));
  font-size: calc((var(--videoCard-width)) * 1 / 10);
  cursor: pointer;
}

.play2Btn {
  height: calc(((var(--videoCard-width)) * 2 / 7) - 2px);
}

.play1Btn:hover,
.play2Btn:hover {
  background-color: rgb(var(--hover-color));
}

.audios {
  display: block;
  width: 7em;
  margin-top: 0.5em;
  margin-left: 2em;
}

.german,
.english {
  width: calc((var(--videoCard-width)) * 1 / 5);
  aspect-ratio: 1/1;
  margin-left: 1em;
  background-size: calc((var(--videoCard-width)) * 1 / 5);
  background-repeat: no-repeat;
  cursor: pointer;
}

.german {
  background-image: url("../../assets/icons/german.png");
}

.english {
  background-image: url("../../assets/icons/english.png");
}

.videoWall {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 55%;
}

.trailer {
  position: relative;
  width: 100%;
  aspect-ratio: 20/9;
  object-fit: fill;
}

.videoWall > img {
  width: calc((var(--videoCard-width)) * 2);
  aspect-ratio: 2/3;
}

.volBtn,
.muteBtn {
  position: absolute;
  top: var(--bar-size);
  right: 1em;
  width: 2.5em;
  height: 2.5em;
  border-style: none;
  border-radius: 2.5em;
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  background-image: url("../../assets/icons/icon_volume_0.png");
  background-color: rgb(var(--back-color));
  cursor: pointer;
  opacity: 0.7;
}

.volBtn {
  background-image: url("../../assets/icons/icon_volume_0.png");
}

.muteBtn {
  background-image: url("../../assets/icons/icon_volume_100.png");
}
