.container {
  display: flex;
  flex-direction: row;
  height: 8em;
  position: relative;
  width: 15em;
  margin-top: 4em;
  margin-right: 6em;
  align-items: center;
}

.card {
  width: 8em;
  aspect-ratio: 2/3;
  margin: 0.8em;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.prev,
.next {
  background-color: rgb(var(--menu-color));
  max-height: 1.4em;
  min-width: 1.4em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 5px;
  position: relative;
  z-index: 4;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  color: white;
  opacity: 0.95;
}

.prev {
  justify-self: flex-start;
  padding-left: 0.1em;
}

.next {
  padding-right: 0.1em;
}

.prev:active,
.next:active {
  transform: translateY(1px);
}

.poster {
  display: flex;
  position: absolute;
}

.poster > img {
  width: 100%;
  border-radius: 5px;
}

.info {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 5em;
  margin-top: 7em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(
    0deg,
    rgba(41, 41, 41, 0.6) 0%,
    rgba(35, 35, 35, 0.6) 100%
  );
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.series {
  font-size: 0.7em;
  color: rgb(var(--secondary-text));
}

.episode {
  margin-top: 0.5em;
  font-size: 0.9em;
}
.counter {
  margin-top: 0.5em;
  font-size: 0.8em;
  color: rgb(var(--secondary-text));
}

@media only screen and (min-width: 1440px) {
  .container {
    margin-top: 7em;
    height: 12;
    width: 19em;
  }
  .card {
    width: 12em;
  }
  .info {
    height: 9em;
    margin-top: 11em;
  }
}
