.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--back-color));
}

.content {
  height: 100%;
  display: flex;
}

#editor {
  height: 100vh;
}

.center {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; /*!important! for trailer "overflow"*/
  display: flex;
  flex-direction: column;
}

.navBars {
  background: linear-gradient(
    0deg,
    rgba(var(--back-color), 1) 87%,
    rgba(var(--top-color), 1) 96%
  );
  height: var(--bar-size);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-left: 1px solid var(--back-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
}

.closeBtn {
  width: 1.5em;
  height: 1.5em;
  margin-top: 1em;
  margin-left: 1em;
  position: absolute;
  z-index: 3;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  transition: 0.2s;
  cursor: pointer;
  background-image: url("../../assets/icons/icon_close.png");
}

.preview {
  position: relative;
  z-index: 4;
}

.light {
  filter: blur(40px);
  width: 40vw;
  position: absolute;
  top: 2em;
  right: 10px;
  z-index: 3;
}

.light_trailer {
  width: 100%;
  aspect-ratio: 17/9;
  position: relative;
  object-fit: fill;
}

.back {
  height: 47vh;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: rgba(var(--back-color));
}

.cluster {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}
