.container {
  display: flex;
  margin-right: 1em;
}

.selectLabel {
  display: flex;
  align-items: center;
  height: 2em;
  padding-right: 0.5em;
  color: rgb(var(--secondary-text));
  font-size: 0.8em;
}

select {
  appearance: none;
  width: 5em;
  height: 2em;
  border-style: none;
  background-color: rgb(var(--top-color));
  border-radius: var(--videoCard-radius);
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}

select:hover {
  border: 1px solid rgb(var(--secondary-text));
}

.defaultSelect{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 2em;
  background-color: rgb(var(--top-color));
  border-radius: var(--videoCard-radius);
  font-size: 0.8em;
}

.searchInput {
  width: 22vw;
  height: 2em;
  padding-left: 0.6em;
  border-style: none;
  border-radius: var(--videoCard-radius);
  margin-left: 0.5em;
  background-color: rgb(var(--top-color));
}

.searchInput:focus {
  border: 1px solid rgb(var(--secondary-text));
}

@media only screen and (min-width: 1440px) {
}
