.container {
  display: flex;
}

.searchInput {
  border-style: none;
  height: 2em;
  width: 22vw;
  background-color: rgb(var(--top-color));
  border: 1px solid rgb(var(--menu-color));
  border-radius: var(--chip-radius);
  padding-left: 0.5em;
}

.searchInput:focus {
  border: 1px solid rgb(var(--secondary-text));
}

@media only screen and (min-width: 1440px) {
  .searchInput {
    height: 1.7em;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
}
