.container {
  background-color: rgb(var(--menu-color));
  height: 100%;
  width: 22em;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
}

.form {
  width: 95%;
  padding-bottom: 4.5em;
  padding-left: 0.5em;
  overflow-x: hidden;
}

.row {
  padding-top: 0.1em;
  width: 100%;
  display: flex;
  padding-right: 1em;
}

.textOnInput {
  margin-top: 1em;
  position: relative;
}
.textOnInput label {
  position: absolute;
  top: -15px;
  left: 5px;
  padding: 2px;
  z-index: 1;
  color: rgb(var(--secondary-text));
  font-size: 0.8em;
}

.textOnInput .tag {
  color: rgb(var(--secondary-text));
  font-size: 0.7em;
}

.textOnInput label:after {
  content: " ";
  background-color: rgb(var(--menu-color));
  width: 100%;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.inputField {
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgb(var(--secondary-text));
  background-color: rgb(var(--menu-color));
  box-shadow: none !important;
  height: 1.7em;
  padding-left: 0.5em;
}

.topLeft {
  display: flex;
  flex-direction: column;
  width: 16em;
  margin-right: 0.2em;
}

.topRight {
  display: flex;
  flex-direction: column;
  width: 6em;
  padding-left: 0.2em;
}

.mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -0.1em;
}

.topLeft > .textOnInput > .inputField,
.topRight > .textOnInput > .inputField {
  width: 100%;
}

.mid > .textOnInput > .inputField,
.mid > .textOnInput > .inputArea {
  width: 100%;
}

.inputArea {
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgb(var(--secondary-text));
  background-color: rgb(var(--menu-color));
  box-shadow: none !important;
  height: 3.5em;
  padding-left: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  resize: none;
  overflow-y: scroll;
}

.poster > img {
  margin-top: 0.3em;
  width: 6.3em;
  aspect-ratio: 2/3;
  object-fit: fill;
}

.bottomRight {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.bottomRight > .line {
  display: flex;
  margin-top: -0.3em;
}

.bottomRight > .line > .textOnInput >input {
  width: 95%;
}

.bottomRight > .line > .sourceBtn {
  border-style: none;
  background-color: rgb(var(--menu-color));
  background-image: url("../../assets/icons/icon_input_file.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.2em;
  width: 1.75em;
  aspect-ratio: 1/1;
  margin-top: 0.9em;
  margin-left: 0.2em;
  cursor: pointer;
}