.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--back-color));
}

.content {
  display: flex;
  height: 100%;
}

#editor {
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  /*  overflow-x: hidden; */ /* for trailer "overflow" */
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}

.header {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
}
.light {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--back-color));
}

.preview {
  position: relative;
  z-index: 3;
}

.closeBtn {
  position: absolute;
  z-index: 3;
  width: 1.5em;
  height: 1.5em;
  margin-top: 1em;
  margin-left: 1em;
  border: none;
  background-position: center;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-image: url("../../assets/icons/icon_close.png");
  background-color: transparent;
  cursor: pointer;
  /*   transition: 0.2s; */
}

.cluster {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 5em;
}
