:root {
  --top-color: 11, 11, 11;
  --back-color: 21, 21, 21;
  --menu-color: 41, 41, 41;

  --secondary-text: 176, 176, 176;
  --primary-text: 255, 255, 255;

  --hover-color: 55, 55, 55;

  --bar-size: 2.2em;
  --chip-radius: 5px;
  --scroll-width: 1em;
  --button-height: 2em;
  /*  */
  --preview-height: 13.5em;
  --preview-card-height: 10em;
  --preview-card-width: 7em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  color: rgb(var(--primary-text));
}

body {
  overflow: hidden;
}

:focus {
  outline: none;
}

::-webkit-progress-bar {
  background-color: rgb(var(--top-color));
}
::-webkit-progress-value {
  background: rgb(var(--secondary-text));
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-corner {
}

::-webkit-scrollbar-corner {
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
}
