.container {
  height: 40vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: -1;
}

.row {
  display: flex;
}

.row:hover span {
  animation-play-state: paused;
}

.firstHalf > span {
  display: flex;
  width: 100%;
  animation: slide linear infinite;
}

.secondHalf > span {
  display: flex;
  width: 100%;
  animation: slide linear infinite;
}

.frame {
  width: 6em;
  aspect-ratio: 2/3;
  margin: 0.5em;
  opacity: 0.7;
}

.frame:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.frame:hover .playBtn {
  visibility: visible;
}

.frame > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media only screen and (min-width: 1440px) {
  .frame {
    width: 10em;
  }
}
